<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ruang Tenang"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RuangTenang">

        <!-- SplashActivity (Entry Point) -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BARU: Login & Register -->
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.journal.AddEditJournalActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.journal.JournalDetailActivity" />
        <activity android:name=".ui.calendar.CalendarActivity" />

    </application>

</manifest>